@import "/assets/css/components/projectBadge.css";
@import "/assets/css/fonts/source_sans.css";

/* main page */

:root {
    --s-body: #7A2259;
    --s-top: #FB405A;

    --sans-serif: "Source Sans Pro", sans-serif;
}

body {
    background-color: var(--cst)
}

h1 {
    color: var(--txt);
    font-family: var(--sans-serif);
    text-align: center;
    margin: 0 0 0 0;
}

h2 {
    color: var(--st0);
    font-family: var(--sans-serif);
    text-align: center;
    margin: 0 0 0 0;
}

h2 > a {
    transition-duration: 250ms;
    color: var(--st0);
    font-family: var(--sans-serif);
    text-decoration: none;
    text-decoration: 1px dotted #66AAFF;
}

h2 > a:hover {
    transition-duration: 250ms;
    text-decoration: 1px solid #66AAFF;
}

h3 {
    color: var(--st1);
    font-family: var(--sans-serif);
    text-align: center;
    margin: 0 0 0 0;
}

h3 > a {
    transition-duration: 250ms;
    color: var(--st1);
    font-family: var(--sans-serif);
    text-decoration: none;
    text-decoration: 1px dotted #66AAFF;
}

h2 > a:hover {
    transition-duration: 250ms;
    text-decoration: 1px solid #66AAFF;
}

.centerdiv {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}